.search-result {
    padding: 10px 20px;
}

.search-result:hover {
    background-color: #efefef;
}

.app {
    background-color: #eee;
    width: 100vw;
    height: 100vh;
}

.search-bar-container {
    padding-top: 20vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.input-wrapper {
    width: 400vw;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

input {
    background-color: transparent;
    height: 100%;
    font-size: 1.25rem;
    width: 50vw;
    margin-left: 5px;
    border-bottom: black solid 1.5px;
    padding: 0.5rem;
}

input:focus {
    outline: none;
}

#search-icon {
    color: royalblue;
}

.results-list {
    width: 50vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
}

.chips-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 50vw;
}

.chip {
    display: inline-flex;
    align-items: center;
    background-color: white;
    border: black solid 1.75px;
    padding: 6px;
    border-radius: 4px;
    margin: 4px;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
}

.remove-icon {
    margin-left: 8px;
    cursor: pointer;
    color: gray;
    font-weight: bolder;
    font-size: large;
}

.highlight {
    background-color: rgba(128, 128, 128) !important;
    font-weight: bolder;
    color: whitesmoke;
}